:root {
  --selection: #555559;  /* note: bg */
  --background: #222226; /* note: bg */
  --text: #eeeeff;
  --string: #aaff88;
  --constant: #55bbff;
  --title: #dd88dd;
  --function: #ffbb66;
  --keyword: #99aaff;
  --comment: #888892;
}

pre code {
  display: block;
  overflow-x: auto;
  background: var(--background);
  -webkit-text-size-adjust: none;
  font-family: icfs;
}

pre code *::selection,
.hljs::selection {
  background: var(--selection);
}

.hljs, .hljs-params {
  color: var(--text);
}

.hljs-string {
  color: var(--string);
}

.hljs-number {
  color: var(--number);
}

.hljs-title {
  color: var(--title);
}

.hljs-built_in, .hljs-keyword {
  color: var(--keyword);
}

.hljs-function {
  color: var(--function);
}

.hljs-comment {
  color: var(--comment);
  font-style: italic;
}
