/* Import font */
@font-face {
  font-family: 'icfs';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('../fonts/icfs-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'icfs';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url('../fonts/icfs-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'icfs';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: bold;
  src: url('../fonts/icfs-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'icfs';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: bolditalic;
  src: url('../fonts/icfs-bolditalic.woff2') format('woff2');
}

/* Use defined colors */
body {
  color: #eeeeff;
  background: #222226;
  font-family: icfs;
}

/* Links */
a {
  color: #aaccee;
}
