/* Import font */
@font-face {
  font-family: 'sevka-r';
  src: url('../fonts/sevka-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'sevka-i';
  src: url('../fonts/sevka-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'sevka-b';
  src: url('../fonts/sevka-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'sevka-bi';
  src: url('../fonts/sevka-bolditalic.woff2') format('woff2');
}

/* Use cemant's colors */
body {
  color: #b9bdc5;
  background: #36383f;
  font-family: sevka-r;
}

.red     { color: #cf554d; }
.green   { color: #72a336; }
.yellow  { color: #ba8d3b; }
.blue    { color: #667ad3; }
.magenta { color: #ba59b3; }
.cyan    { color: #4ea494; }

.Red     { color: #a32c2d; }
.Green   { color: #4b7d08; }
.Yellow  { color: #916814; }
.Blue    { color: #3c56aa; }
.Magenta { color: #91328c; }
.Cyan    { color: #237e6f; }

/* Links */
a {
  color: #667ad3;
}
